<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa fa-facebook-f" style="font-size:24px"></i>
            <i class="fa fa-instagram" style="font-size:24px"></i>
            <i class="fa fa-linkedin" style="font-size:24px"></i>

        </div>
        <div class="f-info-brands">&copy;Wonderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>